
/* Cor DARK*/
 :root,
 :root[data-theme='dark'] {

    --cor-fundo:rgb(198, 189, 224);
    --txt-menu-link:#ec0f0fee;
--borda:var(--cor-fundo)
--icon-theme:# ;
 }


/* cor light */
:root[data-theme='light'] {

--cor-fundo: #251010ee;

}


   /* REeset CSS */
    *{
margin: 0;
padding: 0;
box-sizing: border-box;
    }

body{

        background: var(--cor-fundo); /* COR DE FUNDO */

}

header{
    
    
    /* FLEXBOX */
    display: flex;
    justify-content: space-between;
        align-items: center; 
width: 100%;

padding: .5rem 1rem;
border-bottom: 0.1px solid #160202;
position: fixed;
}
/* nave */
.menu-desktop {
    display: none;
}

.menu{

display: flex;
list-style: none;
gap: 1.2rem;
}

.text_link{
    text-decoration: none;
    
}

.menu-texte {
text-transform: uppercase;
color: var(--txt-menu-link);

}
#togglethme{
color: var(--icon-theme);
cursor:pointer; /*  */
}

.menu-mobile{
position:fixed;
top: 0;
right: 0;
transform: trasnlateX(); /* 100% */
background: var(--fundo-secundario);
width: 75%;
display: flex;
flex-direction: column;
max-width: 320px;
padding-top: 4rem;
height : 100vh; /* viewport Height */
border-left : 1px solid var(--borda);



}











/* responsividade */
/* A partir de 768 */
@media(min-width: 768px){
    .menu-desktop {
        display: flex;

    }
}
    

    











    
    
