
   /* REeset CSS */
    *{
margin: 0;
padding: 0;
box-sizing: border-box;
    }

body{

        background: #9dadd4; /* COR DE FUNDO */

}

header{
    
    
    /* FLEXBOX */
    display: flex;
    justify-content: space-between;
        align-items: center; 
width: 100%;

padding: .5rem 1rem;
border-bottom: 0.1px solid #000;
position: fixed;
}
/* nave */
.menu-desktop {
    display: none;
}

.menu{

display: flex;
list-style: none;
gap: 1.2rem;
}

.text_link{
    text-decoration: none;
}















/* responsividade */
/* A partir de 768 */
@media(min-width: 768px){
    .menu-desktop {
        display: flex;

    }
}
    

    











    
    
